L3UnitTesting/vendor
L4SchoolManagementSystem/vendor
L4SchoolManagementSystem/.phpunit.result.cache
L6WebSchoolManagementSystem/vendor
L6WebSchoolManagementSystem/.phpunit.result.cache
L7TeacherCrudApi/vendor
L7TeacherCrudApi/.phpunit.result.cache
.idea
.DS_Store
L8SportsManagementSystem/.env
L8SportsManagementSystem/vendor
L8SportsManagementSystem/.phpunit.result.cache
L9SymfonyCrudApi/.env
L9SymfonyCrudApi/.env.test