html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"],
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #000000;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
}

.login-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

